h1{
  color: white;
  font-size: clamp(24px, 6vw, 40px);
  font-weight: 600;
}
h2{
  color: white;
  font-size: clamp(16px, 3vw, 24px);
}

.buy-btn{
  max-width: 150px;
  font-size: clamp(14px, 3vw, 18px);
  font-weight: bold;
  border: none;
  padding: 8px 16px;
  margin: 16px 0;
  border-radius: 15px;
  color: rgb(45, 20, 0);;
}
.buy-btn:hover{
  background:rgba(255, 255, 255, 0.122); 
  color: white;
}
.cart-list{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.movie-card {
  background:linear-gradient(to right, rgba(255, 255, 255, 0.122),rgba(43, 15, 4, 0.445));
  display: flex;
  flex-direction: row;
  gap: 20px;

  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: auto;
  overflow: hidden;
  color: white;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
}
.movie-data{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 400px;
  margin: 10px;
}
.movie-card img {
  width: 100px;
  object-fit: cover;
}
.movie-card span{
  position: relative;
  right: 0;
  text-align: center;
  padding-right: 20px;
  margin: 10px;
}
.on-sale{
  text-decoration: line-through;
}
fieldset div {
  border: solid 2px rgba(72, 59, 53, 0.275) ;
  border-radius: 10px;
  padding: 5px 20px 20px;
  display: flex;
  flex-direction: column;
}
fieldset{
  border: none;
  display: flex;
  flex-direction: column;;
  color: white;
  max-width: 250px;
  min-width: 100px;
  margin: 20px 0;
}

fieldset label {
  color: white;
  font-size: 12px;
}
fieldset input{
color: black;
padding: 5px 10px;
}
.summary{
  color: white;
  margin: 30px 0;
}
.summary span {
  font-weight: 500;
  padding-left: 10px;
}
#country{
  color: rgb(0, 0, 0);
  padding: 5px 10px;
}
#typeCountry{
  margin: 5px 0;
  padding: 5px 10px;
}

@media(max-width: 500px){
  .movie-card{
    flex-direction: column;
    align-items: start;
  }
  .movie-data{
    flex-direction: column;
    align-items: start;
    width: auto;
  }
}