h1{
  color: white;
  font-size: clamp(24px, 6vw, 40px);
  font-weight: 400;
}
/*--- FILTER BTN ---*/
.filter-menu{
  display: none;
  color: white;
}
.filter-menu select{
  background: rgba(255, 255, 255, 0.122);
  border: none;
  border-radius: 5px;
  padding: 2px 4px;
}
.checkbox-el{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}
.checkbox-el label{
  padding: 2px 4px;
  border: solid 0.5px rgba(255, 255, 255, 0.169);
  border-radius: 5px;
  cursor: pointer;
}
.checkbox-el input{
  position: absolute;
  opacity: 0;
}
.checkbox-el label:has(input:checked) {
  outline:  2px;
  border: solid 2px rgba(255, 255, 255, 0.486);
}
.checkbox-el label:has(input:focus-visible){
  outline: 2px solid rgb(74, 140, 255);
}
.sort-el{
  margin: 20px 0;
}
.sort-el select{
  padding: 5px;
  margin: 0 10px;
}
.open{
display: block;
}

#filterBtn{
  width: 200px;
  padding: 5px 0;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  color: white;
  background: rgba(255, 255, 255, 0.122)
}
#filterBtn:hover{
  background: rgba(255, 255, 255, 0.031)
}
