/*--- MOVIE INFO CARD ---*/
.product-detail-info{
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  max-width: 900px;
}
.product-detail-info img {
  width: clamp(150px, 33vw, 400px);
}
.product-detail-info .movie-data {
  display: flex;
  gap: 20px;
  border: solid 0.5px;
  border-radius: 5px;
  padding: 0 5px;
}
.price-data{
  display: flex;
  gap: 20px;
}
.price {
  font-size: 20px;
  font-weight: bold;
}
.discounted-price{
  font-size: 30px;
  font-weight: bold;
  color:rgb(255, 202, 166);
}
.price span,
.discounted-price span{
  font-size: 12px;
  text-decoration: none;
  
}
.info-container{
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  color: white;
}
.add-to-cart-btn{
  color: black;
  width: fit-content;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}
.clicked-btn{
  background:rgba(255, 255, 255, 0.122); 
  color: white;
}
/*--- SALE = TRUE ---*/
.on-sale{
  text-decoration: line-through;
}
/*--- GENRE SECTION ---*/
h2{
  color: white;
}
.movie-section{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(clamp(140px, 25vw, 200px), 1fr));
  gap: 2rem;
}
.movie-card {
  background:linear-gradient(to right, rgba(255, 255, 255, 0.122),rgba(43, 15, 4, 0.445));
  border: none;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  height: 100%;
  overflow: hidden;
  color: white;
  justify-content: space-between;
}
.movie-card:hover{
  transform: scale(1.05);
}
.movie-card img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.movie-card h3 {
  margin: 10px 0 4px;
  padding: 0 8px;
  font-size: clamp(14px, 2vw, 20px);
}
.movie-data {
  display: flex;
  align-items: center;
  gap: 20px;
}
.movie-card .movie-data p{
  border: solid 0.5px rgba(255, 255, 255, 0.169);
  border-radius: 5px;
}
.movie-card p {
  padding: 0 8px;
  font-size: clamp(10px, 2vw, 16px);
}
.movie-price{
  display: flex;
  position: relative;
  margin: 5px;
} 


@media(min-width: 800px){
  .product-detail-info{
  grid-template-columns: auto auto;
}
}